body {
    background-color: var(--background_white);
  }

  :root {
    --navbar_blue: #477CC2;
    --navbar_red: #D92714;
    --navbar_yellow: #CFB300;
    --background_white :#F7F7F7;
    --white: #ffffff;
  }
  
